@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    border: none;
    scroll-behavior: smooth;
    text-decoration: none;
    font-family: 'poppins', sans-serif;
}

html {
    max-width: 100%;
    min-height: 100vh;
    font-size: 62.5%;
    overflow-x: hidden;
}

span{
    color: #f7e310;
}


/*menu*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: #0e0e0e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: .3s;
}

.header.sticky {
    background: #0e0e0e;
    box-shadow: 0 .6rem .7rem rgba(0, 0, 0, 0.7);
}

.logo {
    position: relative;
    font-size: 2.5rem;
    letter-spacing: .2rem;
    color: #c6d0d1;
    font-weight: 600;
}

.navbar a {
    color: #c6d0d1;
    position: relative;
    font-size: 1.9rem;
    font-weight: 700;
    margin-left: 3.5rem;
}

.navbar a::after {
    content: " ";
    width: 0%;
    height: 3px;
    background: #f7e310;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: .4s ease-in-out;
}

.navbar a:hover::after{
    width: 100%;
    color: #f7e310;
    transition: .4s;
}

.navbar a:hover {
    color: #f7e310;
    background: #161616;
}

.navbar a.active {
    color: #f7e310;
}

#menu-icon {
    position: relative;
    font-size: 3.6rem;
    color: #c6d0d1;
    cursor: pointer;
    display: none;
}



/*Sessão-1*/
.home-section {
    background: #0e0e0e;
    color: #c6d0d1;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.content-home {
    position: absolute;
    flex-direction: column;
    margin-top: 18rem;
    left: 13rem;
}

.content-home h1 {
    font-size: 7rem;
    font-weight: 700;
    color: #c6d0d1;
}

.content-home h1::before {
    content: '';
    position: absolute;
    height: 4px;
    width: 18rem;
    bottom: 13.7rem;
    background: #f7e310;
}

.content-home p {
    font-size: 2.5rem;
    font-weight: 500;
    width: 16.6em;
    color: #c6d0d1;
    letter-spacing: 2px;
    animation: typing 3s steps(28), blink 0.5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
}



@keyframes typing {
    from {
        width: 0;
    }

}

@keyframes blink {
    50% {
        border-color: transparent;    
    }
}

.btn-box {
    position: relative;
    display: flex;
    width: 30rem;
    height: 5rem;
    margin-top: 3rem;
}

.btn-box .btn {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 25rem;
    height: 100%;
    background: #f7e310;
    border: .2rem solid #f7e310;
    border-radius: .9rem;
    font-size: 1.7rem;
    font-weight: 700;
    color: #0e0e0e;
    z-index: 0;
    overflow: hidden;
    transition: .5s;
}

.btn-box .btn:hover {
    color: #f7e310;
}

.btn-box .btn:nth-child(1):hover {
    color: #f7e310;
}

.btn-box .btn:nth-child(1)::before {
    background: #0e0e0e;
}

.btn-box .btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--bg-color);
    z-index: -1;
    transition: .5s;
}

.btn-box .btn:hover::before {
    width: 100%;
}

.img-home img{
    position: absolute;
    right: 0;
    bottom: 0;
    height: 60rem;
    overflow-x: hidden;
    opacity: .9;
}

.img-home .efect-1 {
    right: 0;
    height: 50rem;
    opacity: .4;
    z-index: 0;
}



/*About*/
.about {
    background: #000000;
    width: 100%;
    height: 45rem;
    color: #c6d0d1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-about {
    position: absolute;
    flex-direction: column;
    left: 13rem;
    bottom: -39.7rem;
}

.content-about h2 {
    font-size: 6rem;
    margin-bottom: 1rem;
}

.content-about h2::before {
    content: '';
    position: absolute;
    height: 4px;
    width: 12.6rem;
    bottom: 24.6rem;
    background: #f7e310;
}

.content-about p {
    font-size: 1.9rem;
    font-weight: 600;
    text-align: justify;
    width: 600px;
}

.img-about img{
    position: absolute;
    right: 0;
    bottom: -45rem;
    height: 45rem;
}

.img-about .efect-2 {
    bottom: -45rem;
    right: 0;
    height: 46rem;
    opacity: .4;
    z-index: 0;
}



/*Planos*/
.flat {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #161616;
    min-height: 100vh;
}

.flat h2 {
    font-size: 6rem;
    color: #c6d0d1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5rem;
    padding: 25px;
    position: relative;
}

.flat h2::before {
    content: '';
    position: absolute;
    height: 4px;
    width: 14.4rem;
    bottom: 3.7rem;
    background: #f7e310;
}

.content-card {
    position: relative;
    height: 38rem;
    width: 30rem;
    margin-bottom: 1rem;
}

.main-cards {
    display: flex;
    gap: 5rem;
}

.content-card h3 {
    text-align: center;
    font-size: 3.7rem;
    color: #c6d0d1;
}

.content-card li{
    font-size: 1.5rem;
    font-weight: 600;
    text-align: left;
    color: #a1a19f;
    list-style: disc;
}



/*Card-1*/
.card-1 {
    display: flex;
    flex-direction: column;
    padding: 25px;
    margin-top: 5rem;
    margin-bottom: 5rem;
    background: #101010;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.737);
    position: relative;
    transition: .3s ease-in-out;
}

.card-1 h4 {
    font-size: 1.7rem;
    text-align: center;
    color: #88652d;
    margin-bottom: .9rem;
}

.card-1:hover {
    transform: scale(1.1);
    transition: .3s ease-in-out;
}

.card-1::before {
    content: ' ';
    position: absolute;
    top: 0;
    right: 0;
    border: 20px solid transparent;
    border-top: 20px solid #88652d;
    border-right: 20px solid #88652d;
}



/*Card-2*/
.card-2 {
    display: flex;
    flex-direction: column;
    padding: 25px;
    margin-top: 5rem;
    margin-bottom: 5rem;
    background: #101010;
    text-align: justify;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.737);
    position: relative;
    transition: .3s ease-in-out;
}

.card-2 h4 {
    font-size: 1.7rem;
    text-align: center;
    color: #989695;
    margin-bottom: .9rem;
}

.card-2:hover {
    transform: scale(1.13);
    transition: .3s ease-in-out;
}

.card-2::before {
    content: ' ';
    position: absolute;
    top: 0;
    right: 0;
    border: 20px solid transparent;
    border-top: 20px solid #989695;
    border-right: 20px solid #989695;
}



/*Card-3*/
.card-3 {
    display: flex;
    flex-direction: column;
    padding: 25px;
    margin-top: 5rem;
    margin-bottom: 5rem;
    background: #101010;
    text-align: justify;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.737);
    position: relative;
    transition: .3s ease-in-out;
}

.card-3 h4 {
    font-size: 1.7rem;
    text-align: center;
    color: #ffd700;
    margin-bottom: .9rem;
}

.card-3:hover {
    transform: scale(1.1);
    transition: .3s ease-in-out;
}

.card-3::before {
    content: ' ';
    position: absolute;
    top: 0;
    right: 0;
    border: 20px solid transparent;
    border-top: 20px solid #ffd700 ;
    border-right: 20px solid #ffd700 ;
}



/*Contact*/
.contact {
    width: 100%;
    background: #0e0e0e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    color: #c6d0d1;
}

.contact h3 {
    font-size: 5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.contact-sessao {
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
}

.contact-sessao i {
    font-size: 2.2rem;
    margin-right: .7rem;
}

.contact-sessao in {
    cursor: pointer;
    transition: .3s ease-in-out;
}

.contact-sessao in:hover {
    color: #ffd700;
    transition: .3s ease-in-out;
}

.footer {
    font-size: 1.6rem;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

@media (max-width: 1200px) {
    .content-card {
        width: 25rem;
    }

    .content-card h3 {
        font-size: 3.3rem;
    }

    .content-card li {
        font-size: 1.4rem;
    }
}

@media (max-width: 1100px) {    
    .header {
        padding: 2rem 4%;
    }

    .content-home h1 {
        font-size: 5rem;
    }

    .content-home h1::before {
        width: 15rem;
        bottom: 12.8rem;
    }

    .content-home p {
        font-size: 2.5rem;
        width: 16.6em;
    }

    .img-home img{
        height: 55rem;
    }

    .img-home .efect-1 {
        height: 45rem;
    }

    .about {
        height: 42rem;
    }

    .content-about {
        bottom: -37rem;
    }

    .content-about h2 {
        font-size: 5rem;
    }

    .content-about h2::before {
        width: 13.3rem;
    }

    .img-about img{
        height: 42rem;
        bottom: -42rem;
    }
    
    .img-about .efect-2 {
        height: 40rem;
        bottom: -42rem;
    }

    .flat h2 {
        font-size: 5rem;
    }
    
    .content-card {
        width: 22rem;
        height: 38rem;
    }
    
    .main-cards {
        display: flex;
        gap: 5rem;
    }
    
    .content-card h3 {
        font-size: 3rem;
    }
    
    .content-card h4 {
        font-size: 1.5rem;
    }

    .content-card li{
        font-size: 1.3rem;
    }
}

@media (max-width: 975px) {
    .img-home img{
        height: 55rem;
        opacity: .7;
    }

    .img-home .efect-1 {
        height: 43rem;
        opacity: .4;
    }

    .about {
        height: 40rem;
    }

    .content-about {
        bottom: -35rem;
    }

    .content-about h2 {
        font-size: 4.7rem;
    }

    .content-about h2::before {
        width: 13.3rem;
    }

    .img-about img{
        height: 40rem;
        bottom: -40rem;
        opacity: .5;
    }
    
    .img-about .efect-2 {
        height: 40rem;
        bottom: -40rem;
        opacity: .2;
    }

    .flat h2 {
        font-size: 7rem;
    }

    .content-card {
        width: 32rem;
        height: 43rem;
    }

    .main-cards {
        flex-direction: column;
        gap: 0;
    }
    
    .content-card h3 {
        font-size: 4.4rem;
    }
    
    .content-card h4 {
        font-size: 2rem;
    }

    .content-card li{
        font-size: 1.7rem;
    }
}

@media (max-width: 825px) {
    .content-home {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 14rem;
        left: 0;
        right: 0;
    }
    
    .content-home h1 {
        font-weight: 700;
        color: #c6d0d1;
        margin-bottom: .5rem;
    }
    
    .content-home h1::before {
        bottom: 12.8rem;
    }
    
    .content-home p {
        font-size: 2rem;
        width: 17.1em;
    }

    .img-home img{
        height: 55rem;
        opacity: .4;
    }

    .img-home .efect-1 {
        height: 43rem;
        opacity: .2;
    }

    .btn-box {
        display: flex;
        justify-content: center;
    }

        
    .btn-box .btn {
        width: 22rem;
    }

    .about {
        height: 40rem;
    }

    .content-about {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        left: 0;
        padding: 0 2rem 0 2rem ;
    }

    .content-about h2 {
        font-size: 4.7rem;
    }

    .content-about h2::before {
        width: 13rem;
        bottom: 20.9rem;
    }

    .content-about p{
        font-size: 1.8rem;
        width: 65rem;
    }

    .img-about img{
        height: 40rem;
        bottom: -40rem;
        opacity: .5;
    }
    
    .img-about .efect-2 {
        height: 40rem;
        bottom: -40rem;
        opacity: .2;
    }
}

@media (max-width: 790px) {
    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: -100%;
        width: 100%;
        padding: 1rem 4%;
        background: #f7e310;
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.65);
        z-index: 0;
        transition: .25s ease;
        transition-delay: .25s;
    }

    .active {
        left: 0;
        transition-delay: 0s;
    }

     .active-nav {
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: #0e0e0e;
        border-top: .1rem solid rgb(0, 0, 0);
        z-index: -1;
        transition: .25s ease;
        transition-delay: 0s;
    }

    .navbar.active .active-nav {
        left: 0;
        transition-delay: .25s;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        transform: translateX(-20rem);
        transition: .25s ease;
        transition-delay: 0;
    }

    .navbar.active a {
        transform: translateX(0);
        transition-delay: .25s;
    }

    .navbar a:hover {
        color: #f7e310;
        background: transparent;
    }
        
    .navbar a::after {
        content: " ";
        width: 0%;
        height: 3px;
        background: #f7e310;
        position: absolute;
        bottom: 0;
        left: 0;
        transition: .4s ease-in-out;
    }

    .navbar a:hover::after{
        width: 0;
        color: #f7e310;
}
}

@media (max-width: 680px) {
    .about {
        min-height: 100vh;
        color: #c6d0d1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        padding: 0 1rem 0 1rem; 
    }
    
    .content-about {
        position: relative;
        flex-direction: column;
        left: 0;
        bottom: 0;
    }
    
    .content-about h2 {
        font-size: 7rem;
        margin-top: -2rem;
    }
    
    .content-about h2::before {
        width: 19rem;
        bottom: 35.2rem;
    }
    
    .content-about p {
        font-size: 2.2rem;
        font-weight: 600;
        text-align: justify;
        margin-top: 2rem;
        margin-bottom: 0rem;
        width: 60rem;
    }
    
    .img-about img{
        position: absolute;
        bottom: 0;
        min-height: 100vh;
        opacity: .35;
    }
    
    .img-about .efect-2 {
        position: absolute;
        bottom: 0;
        opacity: .3;
        z-index: 0;
    }

    .flat h2 {
        font-size: 5.5rem;
    }

    .contact-sessao {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .contact h3 {
        font-size: 3.7rem;
    }

    .contact-sessao i, in {
        font-size: 1.7rem;
    }
}

@media (max-width: 650px) {
    .content-home h1 {
        font-size: 5rem;
    }

    .content-home h1::before {
        bottom: 12.8rem;
    }

    .img-home img{
        opacity: .3;
    }
    
    .content-about h2 {
        font-size: 6.5rem;
        margin-top: -4rem;
    }
    
    .content-about h2::before {
        width: 17.5rem;
        bottom: 33.5rem;
    }
    
    .content-about p {
        font-size: 2.1rem;
        width: 55rem;
    }
}

@media (max-width: 600px) {
    .content-about h2 {
        font-size: 6rem;
        margin-top: -3rem;
    }
    
    .content-about h2::before {
        width: 16rem;
        bottom: 34.8rem;
    }
    
    .content-about p {
        font-size: 2rem;
        width: 50rem;
    }
}

@media (max-width: 540px) {
    .content-about h2 {
        font-size: 6rem;
        margin-top: -6rem;
    }
    
    .content-about h2::before {
        width: 16rem;
        bottom: 37.8rem;
    }
    
    .content-about p {
        font-size: 2rem;
        width: 45rem;
    }

    .img-home img{
        right: 0;
        bottom: 0;
        height: 60rem;
    }
    
    .img-home .efect-1 {
        right: 0;
        height: 50rem;
        opacity: .4;
        z-index: 0;
    }

    .img-home img {
        overflow: hidden;
    }

    .img-about img {
        display: none;
    }
}

@media (max-width: 490px) {
    .content-about h2 {
        font-size: 6rem;
        margin-top: -3.5rem;
    }
    
    .content-about h2::before {
        width: 16rem;
        bottom: 34.4rem;
    }
    
    .content-about p {
        font-size: 1.8rem;
        width: 40rem;
    }
}


@media (max-width: 460px) {
    .content-home h1 {
        font-size: 4.5rem;
    }
    
    .content-home h1::before {
        bottom: 11.4rem;
    }
    
    .content-home p {
        font-size: 1.7rem;
        width: 17.7em;
    }

    .btn-box {
        width: 20rem;
        height: 4.3rem;
    }
    
    .btn-box .btn {
        font-size: 1.5rem;
    }

    .flat h2 {
        font-size: 4.5rem;
    }

    .content-card {
        width: 23.5rem;
        height: 37rem;
    }
    
    .main-cards {
        display: flex;
        gap: 0;
    }
    
    .content-card h3 {
        font-size: 3rem;
    }
    
    .content-card h4 {
        font-size: 1.6rem;
    }

    .content-card li{
        font-size: 1.4rem;
    }
}

@media (max-width: 445px) {
    .content-about h2 {
        font-size: 6rem;
        margin-top: 2rem;
    }
    
    .content-about h2::before {
        width: 16rem;
        bottom: 39.9rem;
    }
    
    .content-about p {
        font-size: 1.8rem;
        width: 35rem;
    }
}

@media (max-width: 390px) {
    .content-about h2 {
        font-size: 5rem;
        margin-top: 5rem;
    }
    
    .content-about h2::before {
        width: 13.4rem;
        bottom: 43.5rem;
    }
    
    .content-about p {
        font-size: 1.75rem;
        width: 30rem;
    }
}

@media (max-width: 385px) {
    .flat h2 {
        font-size: 3.5rem;
    }

    .flat h2::before {
        content: '';
        position: absolute;
        height: 4px;
        width: 10rem;
        bottom: 3.1rem;
    }
}


@media (max-width: 360px) {
    .content-home {
        margin-top: 14rem;
    }
    
    .content-home h1 {
        font-size: 4rem;
    }
    
    .content-home h1::before {
        bottom: 11rem;
    }
    
    .content-home p {
        font-size: 1.5rem;
        width: 18em;
    }
}

@media (max-width: 350px) {
    .flat h2 {
        font-size: 3rem;
    }

    .content-card {
        width: 22rem;
        height: 37rem;
    }
    
    .main-cards {
        display: flex;
        gap: 0;
    }
    
    .content-card h3 {
        font-size: 2.5rem;
    }
    
    .content-card h4 {
        font-size: 1.3rem;
    }

    .content-card li{
        font-size: 1.35rem;
    }
}

@media (max-width: 345px) {
    .content-about h2 {
        font-size: 5rem;
        margin-top: 5rem;
    }
    
    .content-about h2::before {
        width: 13rem;
        bottom: 43.8rem;
    }
    
    .content-about p {
        font-size: 1.65rem;
        width: 27rem;
    }
}

@media (max-width: 330px) {
    .flat h2 {
        font-size: 3rem;
    }

    .content-card {
        width: 19rem;
        height: 40rem;
    }
    
    .main-cards {
        display: flex;
        gap: 0;
    }
    
    .content-card h3 {
        font-size: 2.5rem;
    }
    
    .content-card h4 {
        font-size: 1.24rem;
    }

    .content-card li{
        font-size: 1.3rem;
    }
}

@media (max-width: 320px) {
    .content-home h1 {
        font-size: 3.5rem;
    }
    
    .content-home h1::before {
        width: 10.6rem;
        bottom: 10.5rem;
    }
    
    .content-home p {
        font-size: 1.4rem;
        width: 18.4em;
    }

    .btn-box .btn {
        width: 18rem;
        height: 4rem;
    }

}

@media (max-width: 310px) {
    .content-about h2 {
        font-size: 4.8rem;
        margin-top: 3.5rem;
    }
    
    .content-about h2::before {
        width: 13rem;
        bottom: 42.5rem;
    }
    
    .content-about p {
        font-size: 1.6rem;
        width: 25rem;
    }
}

@media (max-width: 305px) {
    .content-about h2 {
        margin-top: 3.2rem;
    }

    .content-about p{
        font-size: 1.6rem;
        width: 26rem;
    }

    .flat h2 {
        font-size: 3rem;
    }

    .content-card {
        width: 18rem;
        height: 40rem;
    }
    
    .main-cards {
        display: flex;
        gap: 0;
    }
    
    .content-card h3 {
        font-size: 2.5rem;
    }
    
    .content-card h4 {
        font-size: 1.24rem;
    }

    .content-card li{
        font-size: 1.3rem;
    }
}